* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}
